# Ignore everything by default
*

# But do track these files and folders
!/config.py
!/main.py
!/utils.py
!/document_loader.py
!/embeddings_manager.py
!/llm_manager.py
!/retriever.py
!/persona_analyzer.py
!/model_online.py
!/setup_build_tools.ps1

!/input/
!/input/**
!/output/
!/output/**

!/.gitattributes

# Un-ignore model cache
!/hf_cache/
!/hf_cache/**
!requirements.txt
!.gitignore